{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:flowtype/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": ["react", "flowtype", "graphql", "prettier"],
    "rules": {
        "linebreak-style": ["error", "unix"],
        "no-console": 1,
        "flowtype/generic-spacing": 0,
        "flowtype/space-after-type-colon": 0
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        },
        "react": {
            "version": "16.4"
        }
    },
    "env": {
        "node": true,
        "es6": true
    }
}
