// @flow
{{#if style}}

import style from "./style.module.scss";
{{/if}}

import React from "react";

type Props = {
    content: string,
};

/**
 * {{ name }}
 */
const {{ name }} = ({ content }: Props) => (
    <p{{#if style}} className={style.element}{{/if}}>{content}</p>
);

export default {{ name }};
