// @flow
{{#if style}}

import style from "./style.module.scss";
{{/if}}

import React, { {{ superClass }} } from "react";

type Props = {
    content: string,
};
{{#if hasState}}

type State = {
    dummy: string,
};
{{/if}}

/**
 * {{ name }}
 */
export default class {{ name }} extends {{ superClass }}<Props{{#if hasState}}, State{{/if}}> {
    {{#if hasState}}
    // Initial state
    state = {
        dummy: "Hello",
    };

    {{/if}}
    /**
     * Render
     */
    render() {
        const { content } = this.props;

        return (
            <p{{#if style}} className={style.element}{{/if}}>{content}</p>
        );
    }
}

