@import './reset.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  cursor: none;
  font-family: Orbitron, sans-serif;
  font-size: 2.5rem;
}

.rise {
  position: absolute;
  padding: 7rem;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 85vh;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  border-radius: 2rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, .75);
}

.options {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  color: white;
}

.prompt p {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0 0 1.5rem #71dcfd;
}

.construction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  text-shadow: 0 0 1.5rem #71dcfd;
}

.return {
  position: fixed;
  left: 2rem;
  top: 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.return img {
  width: 2rem;
  height: auto;
  margin: 0 1rem;
}

.beginstate {
  display: grid;
  grid-gap: 8rem;
  grid-template-rows: repeat(3, min-content);
  justify-content: center;
  align-content: center;
}

.title {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .7rem;
  text-align: center;
  text-shadow: 0 0 1.5rem #71dcfd;
}

.controls {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
}

.story p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.story p:last-child {
  text-transform: uppercase;
  margin: 4rem 0 0;
  text-shadow: 0 0 1.5rem #71dcfd;
}

.endstate {
  padding: 10rem;
  text-align: center;
}

.endstate .title {
  font-size: 10rem;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-gap: 5rem;
  font-size: 3rem;
}

.result .level {
  text-transform: lowercase;
}

.result .endscore {
  font-size: 5rem;
}

.endstate > p:last-child {
  position: absolute;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  animation: blink 1000ms infinite alternate;
}

@keyframes blink {

  from {
    opacity: 1;
  }

  to {
    opacity: .1;
  }
}

.activated {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  text-shadow: 0 0 1.5rem #71dcfd;
}

.temporary {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.interface {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
}

.hud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scoreBoard {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  width: 60rem;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  grid-template-areas: 'level score' 'life life' 'powerups blobs';
  grid-gap: 2rem;
}

.scoreBoard .level {
  grid-area: level;
}

.scoreBoard .powerups {
  grid-area: powerups;
}

.scoreBoard .blobs {
  grid-area: blobs;
  text-align: right;
}

.scoreBoard .score {
  grid-area: score;
  text-align: right;
}

.accuracy {
  grid-area: life;
  width: 100%;
  height: 2rem;
}

.hide {
  display: none;
}
